@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

body {
  background-image: url("media/background.webp");
  font-family: 'Poppins', sans-serif;
}

  

.container {
    height: auto;
    margin: 0 auto;
    border-radius: 5px;
    padding: 20px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  h1 {
    text-align: center;
    color: #333;
  }

  .container img {
    margin: 10px;
  }

  .footer{
    text-align: center;
    background-color: #fff;
    padding: 20px;
  }

  .fa{
    color: red;
  }

  ::-webkit-scrollbar {
    width: 2px;
}

@media (max-width: 980px){

  body {
    background-size: 310%;
    background-position: 210%;
  }

  iframe{
    width: 370px;
  }

  h1 {
    font-size: x-large;
  }
}
  
  

